body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Dashboard design*/

.dashboard-box {
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.panel-primary {
    background: #1976d2;
    border: none;
}

.panel-success {
    background: #43a047;
    border: none;
}

.panel-danger {
    background: #e53935;
    border: none;
}

.panel-warning {
    background: #fb8c00;
    border: none;
}

.dashboard-box h2 {
    font-weight: bold;
}

.dashboard-box hr {
    border-color: rgba(255,255,255,0.4);
}
